<html>
<!-- hn=`hostname`;sed -i -e s/HOSTNAME/$hn/ index.html -->
<head>
<center>Sample app to show Ansible is working...</center>
<br> <br> <br>
</head>
<body>

<div>
<img src="./images/banner.png">
<br> <br> <br>
</div>

<div>This page was served by one of these servers:
{% for server in groups.webservers %}
instance ID: {{ server }};
{% endfor %}

</div>


</body>
</html>
